.App {
  /* text-align: center; */
}
.menu td{
  background-color: #61dafb;
  padding: 10px 25px;
  cursor:pointer;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table td,.table th{
  border:1px solid black;
  padding:5px;
}
.table{
  border-collapse: collapse;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body .content{
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
